In [9]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import tree


from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model
from sklearn.model_selection import KFold,LeaveOneOut, cross_val_score
pd.options.display.float_format = "{:,.2f}".format
import sys
sys.path.append("../")
from src import soporte_predic as sp

In [10]:
df = pd.read_csv('../datos/datos_cluster_kmeans.csv', index_col=0)
df.head(2)

df_cluster1 = df[df["clusters_kmeans"] == 0]

In [11]:
# instanciamos la clase de regresión lineal
analisis = sp.AnalisisModelosRegresion(dataframe=df_cluster1, variable_dependiente='Profit_respuesta')

params_arbol = {
    'max_depth': [3, 5, 7, 10],
    'min_samples_split': [10, 50, 100, 200],
    'min_samples_leaf': [10, 50, 100, 200],
    'max_leaf_nodes': [4, 6, 8, 10, 20, 30]
}

In [12]:

# llamamos a la función para ajustar el modelo
analisis.ajustar_modelo(modelo='tree', param_grid=params_arbol, scoring="neg_mean_squared_error")

# llamamos al metodo para obtener los resultaods de las predicciones
df_resultados = analisis.obtener_resultados()
df_resultados

        Real  Predicho Conjunto Modelo  Residuos
36839  12.80     16.65    Train   tree     -3.85
13912   5.63     21.82    Train   tree    -16.19
47726   6.72      5.97    Train   tree      0.75
34665  12.30     16.65    Train   tree     -4.35
12030 -51.19    -46.34    Train   tree     -4.85
...      ...       ...      ...    ...       ...
25432  32.79     21.82     Test   tree     10.97
11862  17.40     33.88     Test   tree    -16.48
49772  -6.00    -11.65     Test   tree      5.65
50487  -9.16    -11.65     Test   tree      2.49
34366  10.86      5.97     Test   tree      4.89

[48687 rows x 5 columns]

In [14]:
analisis.calcular_metricas("tree")

        train     test
R2       0.62     0.59
MAE     23.02    23.75
MSE  1,600.46 1,693.53
RMSE    40.01    41.15

In [15]:
# instanciamos la clase de regresión lineal
analisis_random_forest = sp.AnalisisModelosRegresion(dataframe=df_cluster1, variable_dependiente='Profit_respuesta')

params_rf = {
    'n_estimators': [100],
    'max_depth': [5],
    'min_samples_split': [10],
    'min_samples_leaf': [1], 
    'max_leaf_nodes': [30]
}

# llamamos a la función para ajustar el modelo
analisis_random_forest.ajustar_modelo(modelo='random_forest', scoring="neg_mean_squared_error", param_grid=params_rf)

# llamamos al metodo para obtener los resultaods de las predicciones
df_resultados_analisis_random_forest = analisis_random_forest.obtener_resultados()
df_resultados_analisis_random_forest.head(3)

       Real  Predicho Conjunto         Modelo  Residuos
36839 12.80     17.07    Train  random_forest     -4.27
13912  5.63     29.59    Train  random_forest    -23.96
47726  6.72      5.72    Train  random_forest      1.00

In [16]:
analisis_random_forest.calcular_metricas("random_forest")

        train     test
R2       0.63     0.60
MAE     22.51    22.94
MSE  1,575.77 1,640.31
RMSE    39.70    40.50

In [17]:
# instanciamos la clase de regresión lineal
analisis_gradient_boosting = sp.AnalisisModelosRegresion(dataframe=df_cluster1, variable_dependiente='Profit_respuesta')

params_gb = {
    'n_estimators': [50],
    'learning_rate': [0.01],
    'max_depth': [3],
    'min_samples_split': [2],
    'min_samples_leaf': [1,]
}

# llamamos a la función para ajustar el modelo
analisis_gradient_boosting.ajustar_modelo(modelo='gradient_boosting',param_grid = params_gb, scoring="neg_mean_squared_error")

# llamamos al metodo para obtener los resultaods de las predicciones
df_resultados_gradient_boosting = analisis_gradient_boosting.obtener_resultados()
df_resultados_gradient_boosting.head(3)

       Real  Predicho Conjunto             Modelo  Residuos
36839 12.80     14.92    Train  gradient_boosting     -2.12
13912  5.63     22.50    Train  gradient_boosting    -16.87
47726  6.72     14.92    Train  gradient_boosting     -8.20

In [18]:
analisis_gradient_boosting.calcular_metricas("gradient_boosting")

        train     test
R2       0.35     0.34
MAE     30.24    30.27
MSE  2,743.02 2,717.18
RMSE    52.37    52.13

In [ ]:
# instanciamos la clase de regresión lineal
analisis_xgboost= sp.AnalisisModelosRegresion(dataframe=df_cluster1, variable_dependiente='Profit_respuesta')

params_xgb = {
    'n_estimators': [50, 100, 150],
    'learning_rate': [0.01, 0.1, 0.2],
    'max_depth': [3, 4, 5],
    'min_child_leaf': [1, 2, 4],  
    'subsample': [0.8, 1.0],        # Para evitar sobreajuste
    'colsample_bytree': [0.8, 1.0]  # Selección de columnas al construir cada árbol
}

# llamamos a la función para ajustar el modelo
analisis_xgboost.ajustar_modelo(modelo='xgboost',param_grid=params_xgb, scoring="neg_mean_squared_error")

# llamamos al metodo para obtener los resultaods de las predicciones
df_resultados_xgboost = analisis_xgboost.obtener_resultados()
df_resultados_xgboost.head(3)

       Real  Predicho Conjunto   Modelo  Residuos
36839 12.80     11.83    Train  xgboost      0.97
13912  5.63     21.49    Train  xgboost    -15.85
47726  6.72      4.81    Train  xgboost      1.91

In [23]:
analisis_xgboost.calcular_metricas("xgboost")

        train     test
R2       0.74     0.65
MAE     19.02    21.24
MSE  1,087.72 1,457.48
RMSE    32.98    38.18