In [23]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import tree


from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model
from sklearn.model_selection import KFold,LeaveOneOut, cross_val_score
pd.options.display.float_format = "{:,.2f}".format
import sys
sys.path.append("../")
from src import soporte_predic as sp

In [24]:
df = pd.read_csv('../datos/datos_cluster_kmeans.csv', index_col=0)
df.head(2)

df_cluster2 = df[df["clusters_kmeans"] == 1]

In [25]:
# instanciamos la clase de regresión lineal
analisis = sp.AnalisisModelosRegresion(dataframe=df_cluster2, variable_dependiente='Profit_respuesta')

params_arbol = {
    'max_depth': [3, 5, 7, 10],
    'min_samples_split': [10, 50, 100, 200],
    'min_samples_leaf': [10, 50, 100, 200],
    'max_leaf_nodes': [4, 6, 8, 10, 20, 30]
}

In [26]:

# llamamos a la función para ajustar el modelo
analisis.ajustar_modelo(modelo='tree', param_grid=params_arbol, scoring="neg_mean_squared_error")

# llamamos al metodo para obtener los resultaods de las predicciones
df_resultados = analisis.obtener_resultados()
df_resultados

c:\Users\HP\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\ma\core.py:2846: RuntimeWarning: invalid value encountered in cast
  _data = np.array(data, dtype=dtype, copy=copy,

         Real  Predicho Conjunto Modelo  Residuos
879    123.75    529.91    Train   tree   -406.16
543    316.70    529.91    Train   tree   -213.21
653    238.98    529.91    Train   tree   -290.93
75     858.90    529.91    Train   tree    328.99
735    292.78    325.25    Train   tree    -32.47
...       ...       ...      ...    ...       ...
2703   364.44    420.43     Test   tree    -55.99
413    423.01    325.25     Test   tree     97.76
1352   628.50    325.25     Test   tree    303.25
1838   741.60    325.25     Test   tree    416.35
678  1,341.15    828.47     Test   tree    512.68

[1984 rows x 5 columns]

In [27]:
analisis.calcular_metricas("tree")

          train       test
R2         0.57       0.17
MAE      200.87     209.14
MSE  101,457.60 120,755.28
RMSE     318.52     347.50

In [28]:
# instanciamos la clase de regresión lineal
analisis_random_forest = sp.AnalisisModelosRegresion(dataframe=df_cluster2, variable_dependiente='Profit_respuesta')

params_rf = {
    'n_estimators': [150,250,350],  
    'max_depth': [10, 20], 
    'min_samples_split': [2, 5],  
    'min_samples_leaf': [1, 2, 4],  
    'max_leaf_nodes': [None, 50],  
    'criterion': ['squared_error'],
    'bootstrap': [True, False]  
}


# llamamos a la función para ajustar el modelo
analisis_random_forest.ajustar_modelo(modelo='random_forest', scoring="neg_mean_squared_error", param_grid=params_rf)

# llamamos al metodo para obtener los resultaods de las predicciones
df_resultados_analisis_random_forest = analisis_random_forest.obtener_resultados()
df_resultados_analisis_random_forest.head(3)

c:\Users\HP\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\ma\core.py:2846: RuntimeWarning: invalid value encountered in cast
  _data = np.array(data, dtype=dtype, copy=copy,

      Real  Predicho Conjunto         Modelo  Residuos
879 123.75    453.94    Train  random_forest   -330.19
543 316.70    358.03    Train  random_forest    -41.32
653 238.98    493.87    Train  random_forest   -254.89

In [29]:
analisis_random_forest.calcular_metricas("random_forest")

         train      test
R2        0.83      0.45
MAE     145.43    182.59
MSE  40,197.35 80,254.38
RMSE    200.49    283.29

In [30]:
# instanciamos la clase de regresión lineal
analisis_gradient_boosting = sp.AnalisisModelosRegresion(dataframe=df_cluster2, variable_dependiente='Profit_respuesta')

params_gb = {
    'n_estimators': [100,200],
    'learning_rate': [0.01],
    'max_depth': [3,5],
    'min_samples_split': [2],
    'min_samples_leaf': [1]
}

# llamamos a la función para ajustar el modelo
analisis_gradient_boosting.ajustar_modelo(modelo='gradient_boosting',param_grid = params_gb, scoring="neg_mean_squared_error")

# llamamos al metodo para obtener los resultaods de las predicciones
df_resultados_gradient_boosting = analisis_gradient_boosting.obtener_resultados()
df_resultados_gradient_boosting.head(3)

      Real  Predicho Conjunto             Modelo  Residuos
879 123.75    492.79    Train  gradient_boosting   -369.04
543 316.70    364.90    Train  gradient_boosting    -48.20
653 238.98    492.79    Train  gradient_boosting   -253.81

In [31]:
analisis_gradient_boosting.calcular_metricas("gradient_boosting")

         train      test
R2        0.79      0.44
MAE     163.84    188.35
MSE  49,116.11 80,879.01
RMSE    221.62    284.39

In [ ]:
# instanciamos la clase de regresión lineal
analisis_xgboost= sp.AnalisisModelosRegresion(dataframe=df_cluster2, variable_dependiente='Profit_respuesta')

params_xgb = {
    'n_estimators': [50, 150, 250],
    'learning_rate': [0.01, 0.1, 0.2],
    'max_depth': [3, 4, 5],
    'min_child_leaf': [1, 2, 4],  
    'subsample': [0.8, 1.0],        # Para evitar sobreajuste
    'colsample_bytree': [0.8, 1.0]  # Selección de columnas al construir cada árbol
}

# llamamos a la función para ajustar el modelo
analisis_xgboost.ajustar_modelo(modelo='xgboost',param_grid=params_xgb, scoring="neg_mean_squared_error")

# llamamos al metodo para obtener los resultaods de las predicciones
df_resultados_xgboost = analisis_xgboost.obtener_resultados()
df_resultados_xgboost.head(3)

c:\Users\HP\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\ma\core.py:2846: RuntimeWarning: invalid value encountered in cast
  _data = np.array(data, dtype=dtype, copy=copy,

      Real  Predicho Conjunto   Modelo  Residuos
879 123.75    487.14    Train  xgboost   -363.39
543 316.70    332.39    Train  xgboost    -15.69
653 238.98    500.28    Train  xgboost   -261.30

In [33]:
analisis_xgboost.calcular_metricas("xgboost")

         train       test
R2        0.84       0.24
MAE     141.76     186.97
MSE  38,623.52 110,957.39
RMSE    196.53     333.10